.user-container{
    background-color: rgb(237, 160, 60);
    padding: 1px;  
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
    align-items: center;
    margin: 1rem;  
    
}

#user-img{
    height: 100PX;
    width:100PX;
    border-radius: 50%;
}

